@import '../../../../assets/scss/variables';

.action-card {
  box-sizing: border-box;
  width: auto;
  height: 35px;
  margin-right: 8px;
  margin-bottom: 8px;
  line-height: 35px;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  border-radius: 4px;
  border: 1px solid $gray-light;
  background-color: $white;
  color: $font-color;

  overflow: hidden;
  display: flex;
  flex-direction: row;

  .block {
    flex-basis: auto;

    &.label {
      padding-left: 20px;
      padding-right: 8px;
      flex-basis: 75%;
    }

    &.actions {
      opacity: 0;
      transform: translateX(120%);
      transition: all cubic-bezier(.17,.67,.83,.67) 0.2s;
      .mdi {
        padding-right: 5px;
      }
      .mdi:hover {
        cursor: pointer;
      }
    }

  }

  &:hover {
    .block.actions {
      opacity: 1;
      transform: translateX(0);
      transition: all cubic-bezier(.17,.67,.83,.67) 0.2s;
    }
  }

}
