<main class="login">

  <section class="left"></section>

  <section class="right">

    <h1 class="title">Addixware</h1>
    <h2 class="subtitle">Entrez votre nouveau mot de passe</h2>

    <form class="password-form">

      <app-input
        hidden
        [initialValue]="queryEmail"
        name="email"
        type="text"
        placeholder="Nom d'utilisateur (email)"
        id="email"
        icon="account"
        [validators]="emailValidator">
      </app-input>

      <app-input
        name="password"
        type="password"
        placeholder="Mot de passe"
        id="password"
        icon="lock"
        [validators]="validators"
        (val)="logForm($event)">
      </app-input>

      <app-button
        type="btn-success"
        label="Changer le mot de passe"
        (valid)="senForm()">
      </app-button>

      <span class="error">
        {{error}}
      </span>

    </form>

  </section>

</main>
